*{margin:0; padding: 0; box-sizing: border-box; background: whitesmoke;}
hr{color: grey;}
h1{color: grey;width: 100%; text-align: center;}
a{
    color: black;
}
img {
    max-width: 5%;
    height: auto;
}
table {
    width: 100%;
    text-align: center;
}
table td {
    width: 25%;
}
table tr:first-child{background: #333; color: black; font-weight: bold; padding: 15px; }