<form name = 'form1' action = 'controllerForm' method='post'>
    <input type="text" name = 'ID' id = 'id' placeholder="id"><br>
    <input type="text" name = 'name' id = 'name' placeholder="Name"><br>
    <input type="text" name = 'age' id = 'age' placeholder="Age"><br>
    <input type="submit" name = 'btnSubimit' id = 'btnSubimit' value = 'Add'><br>
</form>